.promoTextWrapper {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.promoText {
  white-space: nowrap;
}

.separator {
  margin: 0 1rem; // equal spacing left/right
  user-select: none;
}
